@import "../../global.scss";

.register {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

    .registerWrapper {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: row-reverse;

        .registerLeft {
            flex: 1;
            // background-color: rgb(234, 241, 241);
            padding: 10px 20px;

            .registerHeader {
                color: $mainColor;
                padding: 20px;
                font-size: 40px;
            }

            p {
                text-transform: capitalize;
                font-size: 14px;
                padding: 10px 20px;
            }
        }

        .registergRight {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            background-color: white;
            padding: 30px 10px;
            border-radius: 5px;

            // box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
            .registerForm {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                input {
                    width: 100%;
                    padding: 10px 10px;
                    border: 1px solid lightgray;
                    outline: none;
                    border-radius: 5px;
                }

                .registerBtn {
                    background-color: $mainColor;
                    padding: 10px 10px;
                    width: 100%;
                    border: 1px solid lightgray;
                    outline: none;
                    border-radius: 5px;
                    cursor: pointer;

                }
            }

            .forgotLink {}

            .createLink {
                width: 100%;
                text-align: center;
                border: 1px solid lightgray;
                text-decoration: none;
                cursor: pointer;
                color: #000;
                padding: 5px 0px;
            }
        }
    }
}